<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bank of Python - Login</title>
</head>
<body>
    <h2>Welcome to Bank of Python</h2>
    <form method="POST" action="/login">
        <label for="first_name">Please enter your first Name:</label>
        <input type="text" id="first_name" name="first_name" required>
        <br>
        <label for="last_name">Please enter your last name:</label>
        <input type="text" id="last_name" name="last_name" required>
        <br>
        <label for="account_number">Account Number:</label>
        <input type="text" id="account_number" name="account_number" required>
        <br>
        <button type="submit">Login</button>
    </form>
</body>
</html>
